/*---------------
 google-fonts 
 ----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*---------------
 common style 
 ----------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/*-----------------------
 start header-section 
 ------------------------*/
.header-section {
  background-color: #2d25a0;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  padding: 68px;
  margin-bottom: 70px;
}
.header-tittle-area {
  margin-left: 60px;
}
.header-tittle h1 {
  width: 485px;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 600;
}
h1:hover {
  color: #cac4c4;
}
.live-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  background: #e02c6d;
  padding: 15px 15px;
  color: #ffffff;
}
.enrolled {
  margin-left: 8px;
}
.banner img {
  width: 556.01px;
  height: 438px;
  padding-top: 24.2px;
  padding-bottom: 20px;
}

/*---------------------- 
start player section 
-----------------------*/
.player-section {
  margin-bottom: 160px;
}
.players-container {
  display: flex;
  justify-content: center;
}
.player-info-container {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player-box-shadow {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info {
  width: 300px;
  height: 426px;
  margin: 0 15px 33px 15px;
  padding-top: 15px;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.neymar {
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0 8px 0;
}
.neymar-details {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
/*------------ 
logo style 
--------------*/
.footer-section {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}
.logo img {
  width: 483.87px;
  height: 110px;
}
.social-icon {
  width: 170px;
  height: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon {
  font-size: 32px;
}
.footer-area {
  width: 483.87px;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
